:root {
    --body-height: 0px;
    --body-width: 100%;
    --font-text: "Noto Sans", Sans-Serif;
    --size-text: 12pt;
}
html, body {
    margin: 0;
    height: 100%;
    --body-height: height;
    width: 100%;
}
body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(lightgray, white);
}

.body-dark-mode {
    background-image: linear-gradient(rgb(15, 15, 15), rgb(74, 74, 74));;
}

main, div, input, button, textarea {
    margin: 0px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    box-shadow: 0px 0px 50px 5px lightgray;
}
.main-dark-mode {
    box-shadow: 0px 0px 50px 5px rgb(15, 15, 15);
}
#titleBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
}
#titleBar, #toolsBar {
    background-color: ghostwhite;
}
#title {
    font-family: 'Arvo', serif;
    font-size: 10pt;
    margin-left: 10px;
    margin-top: 2px;
    cursor: default;
    user-select: none;
}
#rightCorner{
    margin-right: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.capsule {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 400px;
    background-color: transparent;
}
#fontText::selection {
    --font-text: value;
}
select,
button,
[type='button'] {
    font-size: 10pt;
    margin: 0px;
    height: 25px;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: none!important;
}
select:hover,
button:hover,
[type='button']:hover {
    background-color: rgba(0, 0, 0, 0.04);
}
.justifyButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 5px 0 5px;
}
.capsuleBars{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.barJB {
    background-color: black;
    height: 1.8px;
}
.barSpace{
    background-color: transparent;
    height: 1.8px;
}
.largeBarJB {
    width: 9px;
}
.smallBarJB {
    width: 6px;
}
textarea {
    min-height: 350px;
    width: 100%;
    resize: none;
    padding: 5px;
    font-family: var(--font-text);
    border: none;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}
textarea:focus, input:focus, select:focus {
    outline: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 600,
  'GRAD' 0,
  'opsz' 48
}